
.cssload-loader {
	width: 219px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:16px;
	color: rgb(206,66,51);
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 13px;
	height: 13px;
	background: rgb(206,66,51);
	position: absolute;
	animation: cssload-load 0.7s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.7s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.7s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.7s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.7s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 26px;
		width: 13px;
	}
	50% {
		height: 7px;
		width: 35px;
	}
	100% {
		left: 206px;
		height: 26px;
		width: 13px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 26px;
		width: 13px;
	}
	50% {
		height: 7px;
		width: 35px;
	}
	100% {
		left: 206px;
		height: 26px;
		width: 13px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 26px;
		width: 13px;
	}
	50% {
		height: 7px;
		width: 35px;
	}
	100% {
		left: 206px;
		height: 26px;
		width: 13px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 26px;
		width: 13px;
	}
	50% {
		height: 7px;
		width: 35px;
	}
	100% {
		left: 206px;
		height: 26px;
		width: 13px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 26px;
		width: 13px;
	}
	50% {
		height: 7px;
		width: 35px;
	}
	100% {
		left: 206px;
		height: 26px;
		width: 13px;
	}
}