/*Paleta*/

@font-face {
  font-family: 'ABCBold';
  src: url('fonts/ABCNormal-Bold.eot');
  src: url('fonts/ABCNormal-Bold.woff2') format('woff2'),
       url('fonts/ABCNormal-Bold.woff') format('woff'),
       url('fonts/ABCNormal-Bold.ttf') format('truetype'),
       url('fonts/ABCNormal-Bold.svg#ABCNormal-Bold') format('svg'),
       url('fonts/ABCNormal-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABCRegular';
  src: url('fonts/ABCNormal-Regular.eot');
  src: url('fonts/ABCNormal-Regular.woff2') format('woff2'),
       url('fonts/ABCNormal-Regular.woff') format('woff'),
       url('fonts/ABCNormal-Regular.ttf') format('truetype'),
       url('fonts/ABCNormal-Regular.svg#ABCNormal-Regular') format('svg'),
       url('fonts/ABCNormal-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




body {
    font-size: 12px;
    font-family: 'ABCRegular';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ABCBold';
    margin-bottom: 12px;
    &::selection {
		background-color:#FFF;
		color:#131313;
	}
	&::-moz-selection {
		background-color:#FFF;
		color:#131313;
	}
}
p, button, li, a {
	font-size: 1em;
	font-weight:400;
    letter-spacing: 1px;
    word-wrap: break-word;
	&::selection {
		background-color:#FFF;
		color:#131313;
	}
	&::-moz-selection {
		background-color:#FFF;
		color:#131313;
	}
}

a {
    color: #FFF;
    text-decoration: underline;
    &:hover {
        color: #C7C7C7;
    }
}