@import "fix";
@import "fonts";

/*PALETA*/
$dark: #131313;
$red: #E50914;

@mixin transicionflix {
    transition: all 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    -webkit-transition: all 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -moz-transition: all 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -o-transition: all 180ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
}
.bg-dark {
    background-color: $dark;
}
*:focus {
    outline: none;
}
body, html {
    height: 100%;
}
body {
    background: #131313;
    color: #FFF;
}

header {
    height: auto;
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    align-items: center;
    background-color: $dark;

    .logo {
        height: 30px;
        margin-left: 1em;
        @media (max-width: 600px) {
            width: 140px;
        }
        @media only screen and (max-device-width: 600px) {
            width: 140px;
        }
    }


}
#cont_main, #main_resultados {
    min-height: calc(100vh - 72px);
    height: auto;
}
#main_resultados {
    padding-top: 80px;
}
main {
    &.home {
        min-height: 95vh;
        padding: 20px;
        form {
            font-size: 42px;
            font-family: 'ABCRegular';
            input[type="number"] {
                height: 50px;
                padding: 0;
                background-color: #131313;
                text-align: center;
                color: #FFF;
                border: 0;
                border-bottom: 1px solid #FFF;
                border-radius: 0;
                font-family: 'ABCBold';
                font-size: 35px;
                width: 70px;
                margin-top: -5px;
                outline: none;
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none; 
                    margin: 0; 
                }
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none; 
                    margin: 0; 
                }
                &:focus {
                    outline: none;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    &.resultados {
        margin-top: 27px;
        h1 {
            font-family: 'ABCRegular';
            span {
                font-family: 'ABCBold';
            }
        }
        a {
            text-decoration: none;
        }
        .item {
            width: 224px;
            margin: 4px;
            margin-bottom: 25px;
            height: auto;
            float: left;
            position: relative;
            @media (max-width: 480px) {
                width: 120px;
            }
            @media only screen and (max-device-width: 480px) {
                width: 120px;
            }
            div.info {
                width: 100%;
                height: 100%;
                z-index: 999;
                background-color: $dark;
                color: #FFF;
                top: 0;
                left: 0;
                opacity: 0;
                padding: 10px;
                @include transicionflix;
                a {
                    font-size: 12px;
                    padding: 2px 5px;
                    margin-top: 18px;
                }
            }
            span.mins{
                display: inline-block;
                padding: 4px;
                background-color: $dark;
                top: 0;
                right: 0;
            }

            img {
                max-width: 100%;
                height: auto;
            }
            &:hover {
                div.info {
                    @include transicionflix;
                    opacity: 1;
                }
            }
        }
    }
}
.btn-flix, #numBnt, #alphBnt {
    font-family: 'ABCBold';
    font-size: 18px;
    background: #E50914;
    border: 1px solid rgba(151,151,151,0.31);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);
    color: #FFF;
    letter-spacing: 0;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
#numBnt, #alphBnt {
    margin: 10px;
}
.modal-content {
    background-color: $dark;
}
.modal-backdrop{
    opacity:0.8!important;
}
.item {
    margin: 4px;
    margin-bottom: 25px;
    height: auto;
    float: left;
    position: relative;
    @media (max-width: 600px) {
        width: 30%;
    }
    @media only screen and (max-device-width: 600px) {
        width: 30%;
    }
    div.info {
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: $dark;
        color: #FFF;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 10px;
        @include transicionflix;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-size: 12px;
            padding: 2px 5px;
            margin-top: 18px;
        }
        @media (max-width: 600px) {
            display: none;
            visibility: hidden;
        }
        @media only screen and (max-device-width: 600px) {
            display: none;
            visibility: hidden;
        }
    }
    span.mins{
        display: inline-block;
        padding: 4px;
        background-color: $dark;
        top: 0;
        right: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    &:hover {
        div.info {
            @include transicionflix;
            opacity: 1;
        }
    }
    a.btn-mob {
        position: absolute;
        text-decoration: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        display: none;
        visibility: hidden;
        @media (max-width: 600px) {
            display: block;
            visibility: visible;
        }
        @media only screen and (max-device-width: 600px) {
            display: block;
            visibility: visible;
        }
    }
}
.modal {
    z-index: 999999;
    .logo {
        width: 180px;
        margin: 20px 0;
    }
}
#loa {
    position: fixed; 
    width:100%;
    height:100vh;
    z-index:99999;
    left: 0px;
    top: 0px;
    right: 0px;
    margin: 0px;
    background:rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
    .wrap {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position:  center 30vh; 
        p {
            position: absolute;
            top: 20vh;
        }
    }
}

